.container-bigCard{
  padding: 10px 15px;
  color: white;
  max-height: 600px;
  margin-bottom: 30px;
}

.container-bigCard img{
  width: 100%;
  max-height: 300px;
}

.container-bigCard picture{
  width: 100%;
  color: gray;
}

.container-bigCard caption{
  display: inline;
  font-size: 0.625rem;
}

.container-bigCard h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
}

.container-bigCard > p {
  text-align: justify;
  text-indent: 10px;
}

.container-bigCard > p > a {
  color: gray;
}
