
<body>
  <app-menu-title></app-menu-title>
  <article class="container-cards">
    <div class="main-article">
      <app-big-card
        photoCover="../../assets/imagens/pexels-phil-kallahar-983200.jpg"
        photoCaption="Legenda alternativa para a imagem"
        photoAlt="Imagem de lava se solidificando."
        cardTitle="Como a lava é formada"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ab debitis voluptate enim veritatis eius ut dolorem sint culpa consequuntur asperiores eligendi recusandae non, quisquam vel aliquid suscipit provident ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ab debitis voluptate enim veritatis eius ut dolorem sint culpa consequuntur asperiores eligendi recusandae non, quisquam vel aliquid suscipit provident ea!"
        linkReport=""
      ></app-big-card>
    </div>
    <div class="other-articles">
      <app-small-card
        photoCover="../../../assets/imagens/pexels-phil-kallahar-983200.jpg"
        titleCard="Ultima temporada de tbbt anunciada"
      ></app-small-card>
      <app-small-card
        photoCover="https://hbomax-images.warnermediacdn.com/images/GXdRsewUPO5uAuwEAABEI/tileburnedin?size=1280x720&partner=hbomaxcom&v=26a5badd79c2cca91aa0c86d604bfd3e&host=art-gallery.api.hbo.com&language=pt-br&w=1280"
        titleCard="Ultima temporada de tbbt anunciada"
      ></app-small-card>
      <app-small-card
        photoCover="https://hbomax-images.warnermediacdn.com/images/GXdRsewUPO5uAuwEAABEI/tileburnedin?size=1280x720&partner=hbomaxcom&v=26a5badd79c2cca91aa0c86d604bfd3e&host=art-gallery.api.hbo.com&language=pt-br&w=1280"
        titleCard="Ultima temporada de tbbt anunciada"
      ></app-small-card>
    </div>
  </article>
</body>
